.dialog {
    max-width: 500px;
    margin: auto;
}

.dialogTitle {
    place-self: center;
    margin-top: 10px;
}

.dialogText {
    margin-top: 10px;
}

.dialogActions {
    justify-content: space-between;
    padding: 20px;
}
