.container {
    max-width: 500px;
    margin: auto;
    margin-top: 40px; /* mt: 5 in MUI equivale a 5 * 8px */
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.rightButtons {
    display: flex;
    gap: 16px;
}
